<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<style>
    body
    {
        font-family: Poppins, Arial;
        margin: 0;
    }

    .background
    {
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(17, 139, 232) , rgba(254, 251, 251, 0.755));
        padding: 8px;
    }

    .top
    {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .logout-button
    {
        margin-right: 15px;
        margin-top: 15px;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        opacity: 0.8;
        text-decoration: none;
    }

    .styled-table
    {
        border-collapse: collapse;
        margin: 5px 0;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
</style>
<div class="background">
    <div class="top">
        <a href="/office-portal" class = "logout-button">
          <div class="logout-text">
            Home
          </div>
        </a>
        <a href="/logout" class = "logout-button">
          <div class="logout-text">
            Log Out
          </div>
        </a>
      </div>
<h3>Existing Sales Associates</h3>
<p id="record-num"><%= associates.length %> record(s) found</p>
<table class="styled-table" border=2 cellpadding="20">
    <tr>
        <th>User ID</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Total Commission</th>
    </tr>
    <% for(let i = 0;i < associates.length;i++) { %>
        <tr id=<%= i %>>
            <td><%= associates[i].id %></td>
            <td><%= associates[i].password %></td>
            <td><%= associates[i].first_name %></td>
            <td><%= associates[i].last_name %></td>
            <td><%= associates[i].address %></td>
            <td><%= associates[i].total_commission %></td>
            <td><button class="delete">Delete</button></td>
            <td><button class="edit">Edit</button></td>
            <input type="hidden" class="old-id" value="<%= associates[i].id %>">
        </tr>
    <% } %>
</table>

<h3>Add New Sales Associate</h3>
<form action="/add-associate" method="POST">
    <div style="margin-bottom: 20px;">
        <label for="user-id">User ID:</label>
        <input required name="user-id" type="text">
        <label for="password">Password:</label>
        <input required name="password" type="text">
    </div>

    <div style="margin-bottom: 20px">
        <label for="first-name">First Name:</label>
        <input required name="first-name" type="text">
        <label for="last-name">Last Name:</label>
        <input required name="last-name" type="text">
    </div>

    <div style="margin-bottom: 20px">
        <label for="address">Address:</label>
        <input required name="address" type="text">
    </div>

    <div style="margin-bottom: 20px">
        <label for="commission">Starting Commission:</label>
        <input name="commission" required min="0" step="0.01" type="number" value="0">
    </div>

    <input type="submit" value="Add">
</form>

<h3>View Quotes</h3>
<form id="quote-form">
    <label for="from-date">From Date:</label>
    <input name="from-date" id="from-date" type="date">
    <label for="to-date">To Date:</label>
    <input name="to-date" id="to-date" type="date">

    <br/>

    <label for="assoc">Sales Associate:</label>
    <select id="assoc" name="assoc">
        <option value="all">all</option>
        <% for(let i = 0;i < associates.length;i++) { %>
            <option id=<%= associates[i].id %> value=<%= associates[i].id %>><%= associates[i].first_name + " " + associates[i].last_name %></option>
        <% } %>
    </select>

    <label for="cust">Customer:</label>
    <select id="cust" name="cust">
        <option value="all">all</option>
        <% for(let i = 0;i < customers.length;i++) { %>
            <option id=<%= customers[i].id %> value=<%= customers[i].id %>><%= customers[i].name %></option>
        <% } %>
    </select>

    <label for="quote-status">Quote Status:</label>
    <select id="quote-status" name="quote-status">
        <option value="all">all</option>
        <option value="open">open</option>
        <option value="finalized">finalized</option>
        <option value="sanctioned">sanctioned</option>
        <option value="ordered">ordered</option>
    </select>

    <input type="submit" value="Search">
</form>

<div id="found-quotes"></div>

<script>
    $(".delete").on("click", (e) => {
        let deleteRecord = e.target.parentElement.parentElement
        axios.post('/delete-associate', {"associate": deleteRecord.children[0].innerText})
        $("#record-num").text(`${deleteRecord.parentElement.children.length - 2} record(s) found`)
        $(`#${deleteRecord.id}`).remove()
    })

    $(".edit").on("click", e => {
        let editRecord = e.target.parentElement.parentElement
        if(e.target.innerText == 'Edit') {
            $(`#${editRecord.id} .delete`).prop("disabled", true)
            e.target.innerText = "Update"

            let j = 0
            for(let i of $(`#${editRecord.id}`).children()) {
                j++

                if(j < 6) {
                    let input = document.createElement('input')
                    input.setAttribute('type', 'text')
                    input.setAttribute('value', i.innerText)
                    i.innerText = ''
                    i.appendChild(input)
                }
                else if(j == 6) {
                    let input = document.createElement('input')
                    input.setAttribute('type', 'number')
                    input.setAttribute('value', i.innerText)
                    input.setAttribute('min', '0')
                    input.setAttribute('step', '0.01')
                    i.innerText = ''
                    i.appendChild(input)
                }
            }

            return
        }

        let new_vals = []
        let old_id = $(`#${editRecord.id} .old-id`).val()
        $(`#${editRecord.id} .delete`).prop("disabled", false)
        e.target.innerText = "Edit"
        let j = 0
        for(let i of $(`#${editRecord.id}`).children()) {
            j++

            if(j <= 6) {
                i.innerText = i.children[0].value
                new_vals.push(i.innerText)
            }
        }
        $(`#${editRecord.id} .old-id`).val($(`#${editRecord.id}`).children()[0].innerText)
        axios.post('/update-associate', {new_vals: new_vals, old_id: old_id})
        window.location.reload()
    })

    $("#quote-form").submit(e => {
        e.preventDefault()

        $.post('/search_quotes', {
            assoc: $(`#${e.target.id} #assoc`).val(), //Assoc id
            cust: $(`#${e.target.id} #cust`).val(), //Cust id
            status: $(`#${e.target.id} #quote-status`).val(), //status
            from_date: $(`#${e.target.id} #from-date`).val(),
            to_date: $(`#${e.target.id} #to-date`).val()
        }).done(data => {
            $("#found-quotes").children().remove()
            
            for(let i of data.quotes) {
                let status = "open"

                if (i.ordered) status = "ordered"
                else if (i.sanctioned) status = "sanctioned"
                else if (i.finalized) status = "finalized"

                let price = i.sanctioned ? i.order_price.toString() : i.final_total_price.toString()
                let idx = price.indexOf('.')

                if (idx == -1) price += '.00'
                else if (price.length - idx - 1 == 1) price += '0'

                $("#found-quotes").append(`
                <hr>
                <span>${i.quote_id} (${new Date(i.date_time).toLocaleDateString()}): ${$(`#${i.sa_id}`).text()} - ${data.customers.find(e => e.id == i.customer_id).name} <i>(${status})</i> $${price}</span>
                <form style="display: inline" action='/viewsearchquote' method='POST'>
                    <input type="hidden" name="quote_id" value=${parseInt(i.quote_id)}>
                    <input type="submit" value="View">
                </form>
                <hr>
                `)
            }
        })
    })
</script>
</div>