<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<h3>Existing Sales Associates</h3>
<p id="record-num"><%= associates.length %> record(s) found</p>
<table border=2 cellpadding="20">
    <tr>
        <th>User ID</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Total Commission</th>
    </tr>
    <% for(let i = 0;i < associates.length;i++) { %>
        <tr id=<%= i %>>
            <td><%= associates[i].id %></td>
            <td><%= associates[i].password %></td>
            <td><%= associates[i].first_name %></td>
            <td><%= associates[i].last_name %></td>
            <td><%= associates[i].address %></td>
            <td><%= associates[i].total_commission %></td>
            <td><button class="delete">Delete</button></td>
            <td><button class="edit">Edit</button></td>
            <input type="hidden" class="old-id" value="<%= associates[i].id %>">
        </tr>
    <% } %>
</table>

<h3>Add New Sales Associate</h3>
<form action="/add-associate" method="POST">
    <div style="margin-bottom: 20px;">
        <label for="user-id">User ID:</label>
        <input required name="user-id" type="text">
        <label for="password">Password:</label>
        <input required name="password" type="text">
    </div>

    <div style="margin-bottom: 20px">
        <label for="first-name">First Name:</label>
        <input required name="first-name" type="text">
        <label for="last-name">Last Name:</label>
        <input required name="last-name" type="text">
    </div>

    <div style="margin-bottom: 20px">
        <label for="address">Address:</label>
        <input required name="address" type="text">
    </div>

    <div style="margin-bottom: 20px">
        <label for="commission">Starting Commission:</label>
        <input name="commission" required min="0" step="0.01" type="number" value="0">
    </div>

    <input type="submit" value="Add">
</form>

<h3>View Quotes</h3>
<form id="quote-form">
    <label for="assoc">Sales Associate:</label>
    <select id="assoc" name="assoc">
        <option value="all">all</option>
        <% for(let i = 0;i < associates.length;i++) { %>
            <option id=<%= associates[i].id %> value=<%= associates[i].id %>><%= associates[i].first_name + " " + associates[i].last_name %></option>
        <% } %>
    </select>

    <label for="cust">Customer:</label>
    <select id="cust" name="cust">
        <option value="all">all</option>
        <% for(let i = 0;i < customers.length;i++) { %>
            <option id=<%= customers[i].id %> value=<%= customers[i].id %>><%= customers[i].name %></option>
        <% } %>
    </select>

    <label for="quote-status">Quote Status:</label>
    <select id="quote-status" name="quote-status">
        <option value="all">all</option>
        <option value="open">open</option>
        <option value="finalized">finalized</option>
        <option value="sanctioned">sanctioned</option>
        <option value="ordered">ordered</option>
    </select>

    <input type="submit" value="Search">
</form>

<div id="found-quotes"></div>

<script>
    $(".delete").on("click", (e) => {
        let deleteRecord = e.target.parentElement.parentElement
        axios.post('/delete-associate', {"associate": deleteRecord.children[0].innerText})
        $("#record-num").text(`${deleteRecord.parentElement.children.length - 2} record(s) found`)
        $(`#${deleteRecord.id}`).remove()
    })

    $(".edit").on("click", e => {
        let editRecord = e.target.parentElement.parentElement
        if(e.target.innerText == 'Edit') {
            $(`#${editRecord.id} .delete`).prop("disabled", true)
            e.target.innerText = "Update"

            let j = 0
            for(let i of $(`#${editRecord.id}`).children()) {
                j++

                if(j < 6) {
                    let input = document.createElement('input')
                    input.setAttribute('type', 'text')
                    input.setAttribute('value', i.innerText)
                    i.innerText = ''
                    i.appendChild(input)
                }
                else if(j == 6) {
                    let input = document.createElement('input')
                    input.setAttribute('type', 'number')
                    input.setAttribute('value', i.innerText)
                    input.setAttribute('min', '0')
                    input.setAttribute('step', '0.01')
                    i.innerText = ''
                    i.appendChild(input)
                }
            }

            return
        }

        let new_vals = []
        let old_id = $(`#${editRecord.id} .old-id`).val()
        $(`#${editRecord.id} .delete`).prop("disabled", false)
        e.target.innerText = "Edit"
        let j = 0
        for(let i of $(`#${editRecord.id}`).children()) {
            j++

            if(j <= 6) {
                i.innerText = i.children[0].value
                new_vals.push(i.innerText)
            }
        }
        $(`#${editRecord.id} .old-id`).val($(`#${editRecord.id}`).children()[0].innerText)
        axios.post('/update-associate', {new_vals: new_vals, old_id: old_id})
        window.location.reload()
    })

    $("#quote-form").submit(e => {
        e.preventDefault()
        
        $.post('/search_quotes', {
            assoc: $(`#${e.target.id} #assoc`).val(), //Assoc id
            cust: $(`#${e.target.id} #cust`).val(), //Cust id
            status: $(`#${e.target.id} #quote-status`).val() //status
        }).done(data => {
            $("#found-quotes").children().remove()
            
            for(let i of data.quotes) {
                let status = "open"

                if (i.ordered) status = "ordered"
                else if (i.sanctioned) status = "sanctioned"
                else if (i.finalized) status = "finalized"

                let price = i.final_total_price.toString()
                let idx = price.indexOf('.')

                if (idx == -1) price += '.00'
                else if (price.length - idx - 1 == 1) price += '0'

                $("#found-quotes").append(`
                <hr>
                <span>${i.quote_id} (${new Date(i.date_time).toLocaleDateString()}): ${$(`#${i.sa_id}`).text()} - ${data.customers.find(e => e.id == i.customer_id).name} <i>(${status})</i> $${price}</span>
                <hr>
                `)
            }
        })
    })
</script>