<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
    <style>
      body
      {
        margin: 0;
        font-family: Poppins, Arial;
        text-decoration: none;
      }

      .background
      {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(17, 139, 232) , rgba(254, 251, 251, 0.755));
        flex-direction: column;
      }

      .logo
      {
        margin-top: 100px;
        margin-bottom: 80px;
        color: white;
        font-size: 60px;
        opacity: 0.65;
        font-weight: 500;
        font-style: italic;
      }

      .welcome-text
      {
        padding-top: 50px;
        font-weight: 600;
        font-size: 26px;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
      }

      .plain-text, .customer-name, .quote_date, .price-breakdown, .line-items-text
      {
        font-size: 20px;
      }

      .top
      {
        width: 100%;
        display: flex;
        justify-content: right;
      }

      .logout-button
      {
        margin-right: 15px;
        margin-top: 15px;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        opacity: 0.8;
        text-decoration: none;
      }

      .logout-text
      {
        text-decoration: none;
      }

      .logo-welcome-box
      {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .logo
      {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      .welcome
      {
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 20px;
      }

      .header-button
      {
        background-color: black;
        color: white;
        font-size: 20px;
        height: 100%;
      }

      .existing-quotes-text
      {
        margin-top: 20px;
      }

      .existing-quotes
      {
        width: 300px;
      }

      .finalize-text
      {
        margin-top: 20px;
      }

      .price-breakdown
      {
        margin-top: 15px;
      }

      .price
      {
        font-size: 16px;
      }

      .line-items-text, .update-discount-text
      {
        margin-top: 15px;
      }

      .discount-box
      {
        height: 18px;
        width: 60px
      }
    </style>
</head>
<body>
    <div class="background">
        <div class="top">
            <a href="/admin" class = "logout-button">
            <div class="logout-text">
                Admin Portal
            </div>
            </a>
            <a href="/logout" class = "logout-button">
            <div class="logout-text">
                Log Out
            </div>
            </a>
        </div>
        <div class="logo-welcome-box">
            <div class="logo">QuickQuote</div>
        </div>
        <div class="plain-text">
            Viewing quote for
        </div>
        <div class="customer-name">
            Customer Name
        </div>
        <div class="date">Generated on Date</div>
        <div style="margin-top: 20px; font-size: 20px;"><u>Contact Information</u></div>
        <div class="contact_email"></div>
        <div>Street: <%= customer_info[0].street %></div>
        <div>City: <%= customer_info[0].city %></div>
        <div>Contact: <%= customer_info[0].contact %></div>
        <div class="price-breakdown">
            <div class="plain-text">Price Breakdown</div>
        </div>
        <div class="line-items-text">Line Items</div>
        <table id="line_items" border=2 cellpadding="20" width="100%">
        </table>
    </div>
</body>
<script>
    document.querySelector('.customer-name').innerHTML = `<b>${'<%= customer_info[0].name %>'}</b>`;

    let date = new Date('<%= quote_info[0].date_time %>').toLocaleDateString()

    let first_slash = date.indexOf('/')
    let second_slash = date.substring(first_slash + 1).indexOf('/') + first_slash + 1
    let comma_date = date.substring(0, second_slash) + ', ' + date.substring(second_slash + 1)
    
    if(comma_date.substring(0, comma_date.indexOf('/')).length == 1)
        comma_date = '0' + comma_date

    if(comma_date.substring(comma_date.indexOf('/') + 1, comma_date.indexOf(',')).length == 1)
        comma_date = comma_date.substring(0, comma_date.indexOf('/') + 1) + '0' + comma_date.substring(comma_date.indexOf('/') + 1)

    document.querySelector('.date').innerHTML = `Generated on ${comma_date} by <%= quote_info[0].sa_id %>`;

    document.querySelector(".contact_email").innerHTML = `Email: <%= quote_info[0].customer_email %>`;

    let initial_total_price = (Number('<%= quote_info[0].initial_total_price %>')).toFixed(2);
    let discount = (Number('<%= quote_info[0].discount %>')).toFixed(2);
    let final_total_price = (Number('<%= quote_info[0].final_total_price %>')).toFixed(2);
    let additional_discount = (Number('<%= quote_info[0].additional_discount %>')).toFixed(2);
    let order_price = (Number('<%= quote_info[0].order_price %>')).toFixed(2)

    let price_breakdown = `<div class="plain-text"><u>Price Breakdown</u></div>`

    if('<%= quote_info[0].sanctioned %>' == '1') {
        price_breakdown += `
        <div class="price">Initial Quote Price: $${initial_total_price}</div>
        <div class="price">Discount: $${discount}</div>
        <div class="price">Final Quote Price: $${final_total_price}</div>
        <div class="price">Additional Discount: $${additional_discount}</div>
        <div class="price">Order Price: <b>$${order_price}</b></div>`
    }
    else {
      price_breakdown += `
      <div class="price">Initial Total Price: $${initial_total_price}</div>
      <div class="price">Discount: $${discount}</div>
      <div class="price">Final Total Price: <b>$${final_total_price}</b></div>`
    }

    document.querySelector('.price-breakdown').innerHTML = price_breakdown;

    let line_html = `
        <th>Price</th>
        <th>Description</th>
        <th>Note(s)</th>
        <% for(let i = 0;i < line_items.length;i++ ) { %>
            <tr>
                <td>$<%= Number(line_items[i].price).toFixed(2) %></td>
                <td><%= line_items[i].description %></td>
                <td>
                    <% if(!line_items[i].secret_note) { %>
                        N/A
                    <% } else { %>
                        <%= line_items[i].secret_note %>
                    <% } %>
                </td>
            </tr>
        <% } %>
    `
    document.getElementById("line_items").innerHTML = line_html;
</script>